* {
  margin: 0;
  padding: 0;
}

#wpadminbar {
  display: none;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #ecf0f1;
}

a:hover {
  text-decoration: none;
}

nav .collapse ul li a {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

nav .collapse ul li a:hover {
  text-decoration: none;
  color: #95afc0 !important;
}

nav .collapse ul li a.active {
  color: #95afc0 !important;
}

ul li a {
  color: #95afc0;
  font-weight: 600;
  font-size: 1.15em;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

ul li a:hover {
  color: #ecf0f1;
  font-size: 1.2em;
  font-weight: 800;
}

.btn-readmore {
  padding: 10px 20px;
  background-color: #34495e;
  color: #ecf0f1;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  border: 2px solid #2c3e50;
  font-weight: 800;
}

.btn-readmore:hover {
  font-weight: 900;
  color: #95afc0;
  background-color: #2c3e50;
  border: 2px solid #95afc0;
}

#social-media-footer ul li {
  display: inline-block;
}

#social-media-footer ul li a i {
  font-size: 4em;
}

#banner {
  background-image: url("./img/1.jpg");
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#banner h1 {
  padding: 20px 35px;
  background-color: #e74c3ca8;
  color: #ecf0f1;
  font-weight: bold;
  font-size: 2.8em;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

#banner h1:hover {
  color: #2c3e50;
  padding: 30px 50px;
  font-size: 3em;
}

#banner h3 {
  background-color: #2c3e509c;
  font-weight: 800;
  font-size: 1.8em;
  padding: 15px 20px;
}

.section-heading {
  font-size: 32px;
  font-family: 'Roboto Condensed', sans-serif;
  border-left: 3px solid black;
  border-right: 3px solid black;
  display: inline-block;
  padding: 4px 32px;
  -webkit-transition: .4s;
  transition: .4s;
  color: #111;
  margin: 10px 0px 20px 0;
  cursor: pointer;
}

.section-heading:hover {
  padding: 4px 48px;
  background: #d35400;
  color: #fff;
  font-weight: bold;
}

.card {
  height: 66vh;
  overflow: hidden;
}

@media (max-width: 600px) {
  .card {
    height: 100vh;
  }
}

@media (min-width: 720px) {
  .card {
    height: 100vh;
  }
}

@media (max-width: 950px) {
  .card {
    height: 90vh;
  }
}

.card img {
  height: 30vh;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  overflow: hidden;
}

@media (max-width: 950px) {
  .card img {
    height: 50vh;
  }
}

@media (min-width: 720px) {
  .card img {
    height: 42vh;
  }
}

@media (max-width: 600px) {
  .card img {
    height: 45vh;
  }
}

.card img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.card .card-body h5 {
  font-size: 1.3em;
  font-weight: 800;
  color: #2c3e50;
}

.card .card-body h5:hover {
  text-decoration: underline;
}

.titleTag {
  margin-top: 15vh;
}

aside#sidebar {
  margin-top: 5vh;
  background: #2c3e50;
  list-style: none;
}

aside#sidebar .cat-item {
  list-style: none;
}

aside#sidebar .recent-posts-3 h3 {
  color: #95afc0 !important;
}

aside#sidebar .widget ul {
  list-style: none;
}

aside#sidebar .widget ul li {
  margin-top: 2.5vh;
  font-size: .9em;
}

aside#sidebar .widget h3 {
  color: #bdc3c7;
  font-weight: 600;
}

.cards {
  background-color: white;
  border: 1px solid #34495e;
  width: 100%;
}

.logged-in-as a {
  color: #34495e;
}

.logged-in-as a:hover {
  text-decoration: underline;
}

.comment-form-comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.comment-form-comment label {
  margin-right: 5%;
}

.comment-form-comment textarea {
  border-radius: 5px;
}

p.form-submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

p.form-submit input#submit {
  background: #2c3e50;
  color: #bdc3c7;
  padding: 5px 20px;
  font-weight: 600;
  font-size: 1.2em;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  border-radius: 5px;
}

p.form-submit input#submit:hover {
  padding: 10px 25px;
  background-color: #bdc3c7;
  color: #2c3e50;
}

.comments {
  border-top: 1px solid;
}

.comments h3 {
  padding-top: 1.5em;
}

.comment-author.vcard {
  background-color: #2c3e50;
}

.comment-author.vcard .fn {
  color: wheat;
  font-weight: bold;
  font-size: 1em;
}

.comment-author.vcard span.says {
  color: white;
}

.comment-body {
  background-color: #fff;
  margin: 1.5em;
  padding: 1em;
}

.all-comments {
  list-style: none;
}

.children {
  list-style: none;
  margin-left: 4em;
}

.reply a {
  padding: 5px 10px;
  background: transparent;
  color: #34495e;
  border: 1px solid #7f8c8d;
  border-radius: 5px;
  font-weight: 600;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.reply a:hover {
  background-color: #2c3e50;
  color: #ecf0f1;
  font-weight: 800;
}

._404 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 24px;
}

._404 img {
  width: 40%;
}

._404 ul li a {
  color: #130f40;
  font-weight: 700;
}
/*# sourceMappingURL=style.css.map */